.vehicle-card-wrapper {
  display: flex;
  padding: 1rem;
  min-width: 280px;
  min-height: 230px;

  & .vehicle-card-info {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 1rem;
    width: 100%;
  }
}
