.home-wrapper {
  padding: 2rem;

  & .home-vehicle-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    & .home-vehicle-basic,
    .home-vehicle-complete,
    .home-vehicle-lux {
      display: flex;
      flex-wrap: wrap;

      & > * {
        flex-grow: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  .home-wrapper {
    padding: 0;

    & .home-vehicle-list {
      h2 {
        padding: 1rem 0 0 1rem;
      }
    }
  }
}
