.books-wrapper {
  padding: 2rem 10%;

  & .books-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 3rem;

    & .book-item-label-prefix {
      background-color: antiquewhite;
    }

    & .book-item-label-prefix::after {
      margin-left: 0.2rem;
    }

    & .book-action {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    & div {
      display: flex;
      justify-content: center;
    }

    & .book-item {
      font-weight: 500;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      margin: 0.5rem 0;

      & label:first-child {
        margin-left: 0;
      }

      & label {
        margin-left: 0.5rem;
        padding: 1rem 0.5rem;
      }
    }
  }
}
