.login-close-icon {
  position: absolute;
  right: 0;
  padding: 0.7rem;
  cursor: pointer;
}

.main-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  & .login-card {
    width: 40%;

    & .login-card-header {
      justify-content: center;
      padding: 1rem 0rem;

      & ::ng-deep.mat-card-header-text {
        margin: 0;
      }
    }

    & .login-form {
      padding: 1rem 0.5rem;

      & .form-content {
        display: flex;
        flex-direction: column;
      }

      & .btn-entrar {
        width: 100%;
      }

      & .signup-link {
        display: flex;
        margin-top: 1rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .main-wrapper {
    & .login-card {
      width: 60%;
    }
  }
}

@media (max-width: 768px) {
  .main-wrapper {
    & .login-card {
      width: 60%;
    }
  }
}

@media (max-width: 640px) {
  .main-wrapper {
    & .login-card {
      width: 85%;
    }
  }
}
